@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600&display=swap');

html {
	font-family: 'Roboto Mono', monospace;
}

body {
	background-color: #FCFCFC;
}

a {
	color: #000;
	font-size: 16px;
	border-bottom: dashed 2px #444;
	text-decoration: none;
}

a:visited {
	color: #000;
}

a:hover {
	color: #000;
	border-bottom: dashed 2px #000;
}

a.master-btn {
	padding: 6px 12px;
	border: solid 2px #444;
}

a.master-btn:hover {
	color: #FCFCFC;
	background-color: #000;
	border: solid 2px #FCFCFC;
}

a.master-btn-xl {
	font-size: 18px;
	padding: 8px 16px;
}

a.master-btn-sm {
	font-size: 14px;
	padding: 4px 8px;
}

a.slave-btn {
	color: #FCFCFC;
	padding: 6px 12px;
	border: solid 2px #FCFCFC;
	background-color: #000;
}

a.slave-btn-xl {
	font-size: 18px;
	padding: 8px 16px;
}

a.slave-btn:hover {
	color: #000;
	background-color: #FCFCFC;
	border: solid 2px #000;
}

a.slave-btn-sm {
	font-size: 14px;
	padding: 4px 8px;
}

div.divider-xl {
	margin: 80px 0px;
}

div.divider {
	margin: 50px 0px;
}

div.divider-sm {
	margin: 20px 0px;
}

