@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600&display=swap');

html {
	font-family: 'Roboto Mono', monospace;
}

body {
	background-color: #FCFCFC;
}

a {
	color: #000;
	font-size: 16px;
	border-bottom: dotted 2px #444;
	padding: 0px 2px;
	text-decoration: none;
}

a:visited {
	color: #000;
}

a:hover {
	color: #000;
	border-bottom: dotted 2px #000;
}

a.master-btn {
	padding: 6px 12px;
	border: dotted 2px #444;
}

a.master-btn:hover {
	color: #FCFCFC;
	background-color: #000;
	border: dotted 2px #FCFCFC;
}

a.master-btn-xl {
	font-size: 18px;
	padding: 8px 14px;
}

a.slave-btn {
	color: #FCFCFC;
	padding: 6px 12px;
	border: dotted 2px #FCFCFC;
	background-color: #000;
}

a.slave-btn-xl {
	font-size: 18px;
	padding: 8px 14px;
}

a.master-btn:hover {
	color: #000;
	background-color: #FCFCFC;
	border: dotted 2px #000;
}

