@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;600&display=swap');

html {
	font-family: 'Roboto Mono', monospace;
}

body {
	background-color: #F0F0F0;
	font-size: 16px;
}

/* Start - Typo */

h1 {
	font-size: 42px;
	margin: 20px 0px;
}

h2 {
	font-size: 38px;
	margin: 20px 0px;
}

h3 {
	font-size: 28px;
	margin: 20px 0px;
}

h4 {
	font-size: 24px;
	margin: 10px 0px;
}

h5 {
	font-size: 20px;
	margin: 10px 0px;
}

h6 {
	font-size: 16px;
	margin: 10px 0px;
}

code {
	padding: 2px 5px;
    margin: 0px 1px;
    font-size: 80%;
    background: #FCFCFC;
    border: 1px solid #E1E1E1;
    border-radius: 1px;
}

p {
	font-size: 14px;
	line-height: 120%;
	margin-bottom: 15px;
}

/* End - Typo */

/* Start - Anchor */
a {
	color: #000;
	font-size: 16px;
	border-bottom: dashed 2px #444;
	text-decoration: none;
}

a:visited {
	color: #000;
}

a:hover {
	color: #000;
	border-bottom: dashed 2px #000;
}

a.master-btn {
	padding: 6px 12px;
	border: solid 2px #444;
	display: inline-block;
	background-color: #FFF;
}

a.master-btn:hover {
	color: #FCFCFC;
	background-color: #000;
	border: solid 2px #FCFCFC;
}

a.master-btn-xl {
	font-size: 18px;
	padding: 8px 16px;
}

a.master-btn-sm {
	font-size: 14px;
	padding: 4px 8px;
}

a.slave-btn {
	color: #FCFCFC;
	padding: 6px 12px;
	border: solid 2px #FCFCFC;
	background-color: #000;
	display: inline-block;
}

a.slave-btn-xl {
	font-size: 18px;
	padding: 8px 16px;
}

a.slave-btn:hover {
	color: #000;
	background-color: #FCFCFC;
	border: solid 2px #000;
}

a.slave-btn-sm {
	font-size: 14px;
	padding: 4px 8px;
}

/* End - Anchor */

/* Start - Divider */
div.divider-xl {
	margin: 80px 0px;
}

div.divider {
	margin: 50px 0px;
}

div.divider-sm {
	margin: 20px 0px;
}
/* End - Divider */

/* Start - Card */
.card {
	padding: 10px 20px;
}

.card-body {
	padding: 10px 0px;
}

.card .card-title {
	padding-bottom: 5px;
}

.card-actions {
	padding-top: 15px;
}

.card-actions a:nth-child(2) {
	float: right;
}

.master-card .card-actions {
	border-top: solid 2px #000;	
}

.slave-card .card-actions {
	border-top: solid 2px #FCFCFC;	
}

.master-card {
	background-color: #FFF;
	border: solid 2px #000;
	-webkit-box-shadow: 10px 10px 1px 0px #000000; 
	box-shadow: 10px 10px 1px 0px #000000;
}

.master-card .card-title {
	border-bottom: solid 2px #000;
}

.slave-card .card-title {
	border-bottom: solid 2px #FCFCFC;
}

div.slave-card {
	background-color: #000;
	color: #FCFCFC;
}



/* End - Card */
